# Ignore Git here
.git

# But not these files...
# !.gitignore

#model_weights/*
src/MiddleBurySet/*
src/dist/*
src/build/*
src/.vscode/*

src/.nfs*

# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
src/__pycache__/
src/*.py[cod]
src/*$py.class

src/*.exe

# C extensions
src/*.so
src/*.egg
src/*.pyc

# Distribution / packaging
src/.Python
src/env/
src/build/
src/develop-eggs/
#dist/
src/downloads/
src/eggs/
src/.eggs/
src/lib/
src/lib64/
src/parts/
src/sdist/
src/var/
src/*.egg-info/
src/.installed.cfg
#*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
src/*.manifest

# Installer logs
src/pip-log.txt
src/pip-delete-this-directory.txt

